name: Generate a new daily image pair

on:
   schedule:
      - cron: '0 6 * * 1-5'
   workflow_dispatch: # Allows manual trigger of the action

jobs:
   fetch-news:
      runs-on: ubuntu-latest
      permissions: write-all
      steps:
         - name: Checkout repository
           uses: actions/checkout@v2

         - name: Set up dependencies
           run: |
              sudo apt-get update
              sudo apt-get install -y jq curl webp

         - name: Fetch news data
           id: fetch-news
           uses: nick-fields/retry@v3
           with:
               timeout_minutes: 5
               max_attempts: 3
               command: |
                     # Fetch news descriptions and save them to a variable
                     RESPONSE=$(curl https://api.x.ai/v1/responses \
                       -H "Content-Type: application/json" \
                       -H "Authorization: Bearer $GROK_API_KEY" \
                       -d '{
                           "input": [
                              {
                              
                                 "role": "user",
                                 "content": "Моля те опиши ми най-важната, въздействаща, провокираща и интересна новина в България от последния ден. Нещо, с което ще запомним този конкретен ден и което можем да използваме за снимка на деня ако правихме вестник или забавно новинарско списание. В описанието си наблегни на визуалните елементи, за да можем по-добре да подготвим изображението. Форматирай отговора си на един ред без да използваш какъвто и да е markdown."
                              }
                           ],
                           "tools": [
                              {
                                 "type": "web_search"
                              }
                           ],
                           "model": "grok-4"
                       }')
                     echo $RESPONSE
                     DESCRIPTIONS=$(echo $RESPONSE | jq -r '.output | map(select(.type == "message" and .status == "completed"))[0] | .content | map(select(.type == "output_text"))[0].text' | sed -e "s/'//g" -e 's/"/\\"/g')
                     if [ $(echo $DESCRIPTIONS | wc -w) -le 1 ]; then
                        echo "Failed to fetch news or invalid response."
                        exit 1
                     fi
                     echo "Fetched Descriptions:"
                     echo "$DESCRIPTIONS"
                     echo "NEWS=$DESCRIPTIONS" >> "$GITHUB_OUTPUT"
           env:
              GROK_API_KEY: ${{ secrets.GROK_API_KEY }}

         - name: Summarize weather
           id: fetch-weather
           run: |
               WEATHER_JSON=$(curl "http://api.weatherapi.com/v1/forecast.json?key=$WEATHERAPI_KEY&q=Sofia")
               WEATHER_REPORT="Minimum temperature today will be $(echo $WEATHER_JSON | jq -r '.forecast.forecastday[0].day.mintemp_c') degrees Celsius.; Maximum temperature will be $(echo $WEATHER_JSON | jq -r '.forecast.forecastday[0].day.maxtemp_c') degrees Celsius.; Expected winds of up to $(echo $WEATHER_JSON | jq -r '.forecast.forecastday[0].day.maxwind_kph') km/h.; Humidity will be $(echo $WEATHER_JSON | jq -r '.forecast.forecastday[0].day.avghumidity') percent.; Expected visibility of around $(echo $WEATHER_JSON | jq -r '.forecast.forecastday[0].day.avgvis_km') km.; Weather condition is $(echo $WEATHER_JSON | jq -r '.forecast.forecastday[0].day.condition.text')."
               if [[ $(echo $WEATHER_JSON | jq -r '.forecast.forecastday[0].day.daily_chance_of_rain') != "0" ]]; then
                  WEATHER_REPORT="$WEATHER_REPORT; Expected rainfall of around $(echo $WEATHER_JSON | jq -r '.forecast.forecastday[0].day.totalprecip_mm') millimeters.; Chance of rainfall is $(echo $WEATHER_JSON | jq -r '.forecast.forecastday[0].day.daily_chance_of_rain')"
               fi
               if [[ $(echo $WEATHER_JSON | jq -r '.forecast.forecastday[0].day.daily_chance_of_snow') != "0" ]]; then
                  WEATHER_REPORT="$WEATHER_REPORT; Expected snowfall of around $(echo $WEATHER_JSON | jq -r '.forecast.forecastday[0].day.totalsnow_cm') centimeters.; Chance of snowfall is $(echo $WEATHER_JSON | jq -r '.forecast.forecastday[0].day.daily_chance_of_snow')"
               fi
               echo "Summary of today's weather:"
               echo "$WEATHER_REPORT"
               echo "WEATHER=$WEATHER_REPORT" >> "$GITHUB_OUTPUT"
           env:
               WEATHERAPI_KEY: ${{ secrets.WEATHERAPI_KEY }}

         - name: Generate image prompt
           id: generate-prompt
           run: |
               echo "Received descriptions:"
               echo $NEWS
               echo "Received weather:"
               echo $WEATHER
               PROMPT=$(curl -s -X POST "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash-preview:generateContent" \
                  -H "Content-Type: application/json" \
                  -H "x-goog-api-key: $GEMINI_API_KEY" \
                  -d '{"contents": [{ "parts": [{"text": "Here is the news report for today in Bulgarian: '"$NEWS"'. Here is the weather report for today: '"$WEATHER"'. Using both the news and the weather information, create a text prompt for an image generation model. The resulting image should unambiguously reference the top story of today by incorporating specific elements from it and it should be funny, mocking the story akin to a front cover of a satirical news magazine or website. The cover should NOT contain the logo or title of the publisher and it should NOT contain title text for todays issue, just the image. You may use the weather report to set the atmospheric tone, but it must be calm and optimistic. The image must additionally contain (in the foreground or background) a white RV van, which MUST have bold black letters on the front of it, forming the words \"Rest & Vest\". The plate number MUST spell out \"BUCARKA1\". The van may be adapted in any way necessary (even unrealistic) to fit the image (for instance, if there is a construction site the van may sport a crane on top). The image MUST contain (in the foreground or background) a black panther, riding on a sandworm from Dune. Do not be vague with your prompt. Response should be written on a single line."}]}]}')
               PROMPT_TEXT=$(echo $PROMPT | jq -r '.candidates[0].content.parts[0].text' | tail -n 1 | sed -e "s/'//g" -e 's/"/\\"/g')
               if [ $PROMPT_TEXT == "null" ]; then
                  echo "Failed to generate prompt:"
                  echo $PROMPT
                  exit 1
               fi
               PROMPT_TEXT="$PROMPT_TEXT The cover should NOT contain the logo or title of the publisher and it should NOT contain title text for todays issue, just the image."
               echo "Prompt for image:"
               echo "$PROMPT_TEXT"
               echo "PROMPT=$PROMPT_TEXT" >> "$GITHUB_OUTPUT"
           env:
               GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
               NEWS: ${{ steps.fetch-news.outputs.NEWS }}
               WEATHER: ${{ steps.fetch-weather.outputs.WEATHER }}

         - name: Checkout van of the day from repo
           uses: actions/checkout@v4
           with:
               sparse-checkout: |
                  rv-of-the-day.webp
               sparse-checkout-cone-mode: false

         - name: Generate images
           run: |
               RESPONSE=$(curl -s -X POST https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent \
               -H "Content-Type: application/json" \
               -H "x-goog-api-key: $GEMINI_API_KEY" \
               -d '{"contents": [{ "parts": [{"text": "'"$PROMPT"'"}]}], "generationConfig": {"imageConfig": {"aspectRatio": "3:2", "imageSize": "2K"}, "responseModalities": ["Image"]}}')
               echo "Response from Gemini:"
               echo $RESPONSE
               echo $RESPONSE | jq -r '.candidates[0].content.parts[0].inlineData.data' | base64 --decode > $GITHUB_WORKSPACE/image
               cwebp -q 80 $GITHUB_WORKSPACE/image -o $GITHUB_WORKSPACE/image.webp
           env:
               GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
               PROMPT: ${{ steps.generate-prompt.outputs.PROMPT }}

         - name: Upload van of the day
           run: |
               git pull
               mv $GITHUB_WORKSPACE/image.webp rv-of-the-day.webp
               echo $PROMPT > description-of-the-day.txt
               git config --global user.name "github-actions[bot]"
               git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
               git add rv-of-the-day.webp
               git commit -m "Update RV of the day via GitHub Actions"
               git push
           env:
               GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
